/****** Object:  Table [dbo].[MapComponentMachines]    Script Date: 2025/8/12 下午 02:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapComponentMachines](
	[Id] [uniqueidentifier] NOT NULL,
	[MapId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MachineId] [uniqueidentifier] NOT NULL,
	[PositionX] [float] NOT NULL,
	[PositionY] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Width] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapComponentStations]    Script Date: 2025/8/12 下午 02:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapComponentStations](
	[Id] [uniqueidentifier] NOT NULL,
	[MapId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StationId] [uniqueidentifier] NOT NULL,
	[PositionX] [float] NOT NULL,
	[PositionY] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Width] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapConfigs]    Script Date: 2025/8/12 下午 02:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapConfigs](
	[Id] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NULL,
	[ImageName] [nvarchar](50) NULL,
	[ImageType] [nvarchar](50) NULL,
	[ImageByte] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
